  body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    color: #ececee;
    background-color: #1f2029;
    overflow: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    height: 100vh;
    width: 100%;
  }
form {
    width: 500px;
    margin: 0 auto;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    padding: 10px 10px;
    background-color: #ffeba7;
    color:#ececee;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 40px;
  }
  input[type="submit"]:hover {
    background-color: #ffeba7;
  }
  a {
    display: block;
    margin-top: 10px;
  }
.volver {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffeba7;
    color: #ececee;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 52px;
  }
  .volver:hover {
    background-color: #ffeba7;
  }
    
  
  .logo {
    position: absolute;
    top: 100px;
    left: 300px;
    display: block;
    z-index: 11;
    
  }
  .logo img {
    height: 30px;
    width: 30px;
    display: block;
  }